<div class="left-container">
	<div class="left-desktop">
		<div class="logo">
			<picture class="logo-pic" style="width: 100%; height: 100%">
				<img src="../images/logo.webp" alt="" />
			</picture>
			<h1 class="logo-name">Mooney</h1>
		</div>
		<nav class="navigation">
			<ul class="nav-ul nav-top-anchors">
				<li>
					<a href="/dashboard" id="dashboard" class="dashboard navTags" data-hover="btn">
						<i class="ri-home-7-fill"></i>
						<div class="overflow-hidden">
							<div class="overflow-vertical">
								<div class="overflow-txt"><span>Dashboard</span></div>
								<div class="overflow-txt ot-abosolute">
									<span>Dashboard</span>
								</div>
							</div>
						</div>
					</a>
				</li>
				<li>
					<a href="/wallet" id="wallet" class="wallet navTags" data-hover="btn">
						<i class="ri-wallet-3-fill"></i>
						<div class="overflow-hidden">
							<div class="overflow-vertical">
								<div class="overflow-txt"><span>Wallet</span></div>
								<div class="overflow-txt ot-abosolute">
									<span>Wallet</span>
								</div>
							</div>
						</div>
					</a>
				</li>
				<li>
					<a href="/transaction" id="transaction" class="transaction navTags" data-hover="btn">
						<i class="ri-bar-chart-fill"></i>
						<div class="overflow-hidden">
							<div class="overflow-vertical">
								<div class="overflow-txt"><span>transaction</span></div>
								<div class="overflow-txt ot-abosolute">
									<span>transaction</span>
								</div>
							</div>
						</div>
					</a>
				</li>
				<li>
					<a href="/profile" id="profile" class="profile navTags" data-hover="btn">
						<i class="ri-user-2-fill"></i>
						<div class="overflow-hidden">
							<div class="overflow-vertical">
								<div class="overflow-txt"><span>Profile</span></div>
								<div class="overflow-txt ot-abosolute">
									<span>Profile</span>
								</div>
							</div>
						</div>
					</a>
				</li>
				<!-- <li>
								<a href="/settings" id="settings" class="settings navTags" data-hover="btn">
									<i class="ri-settings-5-fill"></i>
									<div class="overflow-hidden">
										<div class="overflow-vertical">
											<div class="overflow-txt"><span>Settings</span></div>
											<div class="overflow-txt ot-abosolute">
												<span>Settings</span>
											</div>
										</div>
									</div>
								</a>
							</li> -->
			</ul>
			<ul class="nav-ul logout-btn nav-bottom-anchors">
				<li class="darklightMode">
					<a href="#" class="nTags" data-hover="btn">
						<i class="ri-moon-clear-fill moon"></i>
						<i class="ri-sun-fill sun hide"></i>
						<div class="overflow-hidden">
							<div class="overflow-vertical">
								<div class="overflow-txt">
									<span class="dlmode">Dark Mode</span>
								</div>
								<div class="overflow-txt ot-abosolute">
									<span class="dlmode">Dark Mode</span>
								</div>
							</div>
						</div>
					</a>
				</li>
				<li>
					<a href="/signout" class="nTags" data-hover="btn">
						<i class="ri-logout-box-fill"></i>
						<div class="overflow-hidden">
							<div class="overflow-vertical">
								<div class="overflow-txt"><span>Logout</span></div>
								<div class="overflow-txt ot-abosolute">
									<span>Logout</span>
								</div>
							</div>
						</div>
					</a>
				</li>
			</ul>
		</nav>
	</div>
</div>
