<div class="right-container">
	<div class="right-desktop">
		<div class="right-top">
			<div class="input-box" id="center-input-box">
				<i class="uil uil-search"></i>
				<input
					type="text"
					id="search-input"
					oninput="SetDefault($(this).val());"
					placeholder="Search here..."
				/>
				<button class="button">Search</button>
			</div>

			<div class="right-icons">
				<div class="setting-btn">
					<a style="color: black;" href="/profile">
						<i class="ri-settings-5-fill menuBtn"></i>
					</a>
				</div>
				<div class="close-menu">
					<div class="open-btn obb">
						<i class="ri-menu-3-line menuBtn"></i>
					</div>
					<div class="close-btn obb">
						<i class="ri-close-fill menuBtn"></i>
					</div>
				</div>
			</div>
		</div>
		<div class="profile-container">
			<div class="profile-pic">
				<div class="profile-dp dp" title="Click and Watch Profile Pic">
					<img src="<%= admin.logo %>" class="img" alt="" />
				</div>
				<a href="/profile" class="edit-profile" title="Edit Profile">
					<img src="../../images/edit-profile1.svg" alt="" />
				</a>
			</div>

			<div class="profile-name urlActive"><%= admin.username %></div>
		</div>
		<ul class="total-expense">
			<li>
				<i class="ri-calendar-close-line"></i>
				<span>Top Up</span>
			</li>
			<li>
				<i class="ri-calendar-close-line"></i>
				<span>Pay</span>
			</li>
			<li>
				<i class="ri-calendar-close-line"></i>
				<span>Send</span>
			</li>
			<li>
				<i class="ri-add-circle-fill"></i>
				<span>Add</span>
			</li>
		</ul>
		<div class="recent-transaction">
			<div class="recent-title"></div>
		</div>
	</div>
</div>
