<div class="right-container">
	<div class="right-desktop">
		<div class="right-top">
			<div class="right-icons">
				<div class="setting-btn">
					<i class="ri-settings-5-fill menuBtn"></i>
				</div>
				<div class="close-menu">
					<div class="open-btn obb">
						<i class="ri-menu-3-line menuBtn"></i>
					</div>
					<div class="close-btn obb">
						<i class="ri-close-fill menuBtn"></i>
					</div>
				</div>
			</div>
		</div>
		<div class="profile-container">
			<div class="profile-pic dp">
				<img src="<%= admin.logo %>" alt="">
				</div>

				<div class="profile-name"><%= admin.username %></div>
			</div>
			<ul class="total-expense">
				<li>
					<i class="ri-calendar-close-line"></i>
					<span>Top Up</span>
				</li>
				<li>
					<i class="ri-calendar-close-line"></i>
					<span>Pay</span>
				</li>
				<li>
					<i class="ri-calendar-close-line"></i>
					<span>Send</span>
				</li>
				<li>
					<i class="ri-add-circle-fill"></i>
					<span>Add</span>
				</li>
			</ul>
			<div class="recent-transaction">
				<div class="recent-title"></div>
			</div>
		</div>

		<form action="/uploadimg" enctype="multipart/form-data" method="post">
			<input type="file" name="image" required placeholder="ok" />
			<input type="submit" value="submit" />
		</form>
	</div>
</div>
