<%- include("header.ejs")%>
<!--  -->
<%- include("nav.ejs")%>
<!--  -->
<form action="/createexpense" method="POST">
    <input type="number" name="amount" placeholder="Enter Amount" />
    <input type="text" name="remark" placeholder="Remark" />
    <input type="text" name="category" placeholder="Category" />
    <button>Add Expense</button>
</form>
<!--  -->
<%- include("footer.ejs")%>
