<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Dashboard</title>
		<link rel="stylesheet" href="../stylesheets/dashboard.css" />
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	</head>
	<body>
		<main id="main">
			<div class="illustration-container">
				<picture>
					<svg
						width="1549"
						height="753"
						viewBox="0 0 1549 753"
						fill="none"
						xmlns="http://www.w3.org/2000/svg"
					>
						<path
							d="M313.68 83.2563H29.9727C15.0761 83.2563 3 94.9963 3 109.478V464.149C3 478.631 15.0761 490.371 29.9727 490.371H313.68C328.577 490.371 340.653 478.631 340.653 464.149V109.478C340.653 94.9963 328.577 83.2563 313.68 83.2563Z"
							fill="#EFAF00"
							stroke="black"
							stroke-width="6"
							stroke-linecap="round"
							stroke-linejoin="round"
						/>
						<path
							d="M235.157 83.2563H202.339V490.747H235.157V83.2563Z"
							fill="#1C0E0C"
						/>
						<path
							d="M1234.47 680.597H1518.18C1533.07 680.597 1545.15 668.857 1545.15 654.375V385.874C1545.15 371.392 1533.07 359.652 1518.18 359.652L1234.47 359.652C1219.57 359.652 1207.5 371.392 1207.5 385.874V654.375C1207.5 668.857 1219.57 680.597 1234.47 680.597Z"
							fill="#C5DCDD"
							stroke="black"
							stroke-width="6"
							stroke-linecap="round"
							stroke-linejoin="round"
						/>
						<path
							d="M1312.99 680.893H1345.81V359.652H1312.99V680.893Z"
							fill="#1C0E0C"
						/>
						<path
							d="M1284.09 3H261.705C246.46 3 234.101 15.0151 234.101 29.8364V722.304C234.101 737.125 246.46 749.14 261.705 749.14H1284.09C1299.33 749.14 1311.69 737.125 1311.69 722.304V29.8364C1311.69 15.0151 1299.33 3 1284.09 3Z"
							fill="#F4F1ED"
							stroke="#070707"
							stroke-width="6"
							stroke-linecap="round"
							stroke-linejoin="round"
						/>
						<path
							d="M234.101 65.0879H1311.69"
							stroke="#070707"
							stroke-width="6"
							stroke-linecap="round"
							stroke-linejoin="round"
						/>
						<path
							d="M394.502 28.5713H389.043C384.735 28.5713 381.242 31.9667 381.242 36.1552V41.4617C381.242 45.6501 384.735 49.0456 389.043 49.0456H394.502C398.81 49.0456 402.303 45.6501 402.303 41.4617V36.1552C402.303 31.9667 398.81 28.5713 394.502 28.5713Z"
							fill="#FFEFF0"
						/>
						<path
							d="M358.575 28.5713H353.117C348.808 28.5713 345.315 31.9667 345.315 36.1552V41.4617C345.315 45.6501 348.808 49.0456 353.117 49.0456H358.575C362.883 49.0456 366.376 45.6501 366.376 41.4617V36.1552C366.376 31.9667 362.883 28.5713 358.575 28.5713Z"
							fill="#FFEFF0"
						/>
						<path
							d="M322.649 28.5713H317.191C312.882 28.5713 309.39 31.9667 309.39 36.1552V41.4617C309.39 45.6501 312.882 49.0456 317.191 49.0456H322.649C326.958 49.0456 330.45 45.6501 330.45 41.4617V36.1552C330.45 31.9667 326.958 28.5713 322.649 28.5713Z"
							fill="#FFEFF0"
						/>
						<path
							d="M390.158 24.8115H384.699C380.391 24.8115 376.898 28.2069 376.898 32.3954V37.7019C376.898 41.8904 380.391 45.2858 384.699 45.2858H390.158C394.466 45.2858 397.959 41.8904 397.959 37.7019V32.3954C397.959 28.2069 394.466 24.8115 390.158 24.8115Z"
							fill="#C5DCDD"
							stroke="black"
							stroke-width="6"
							stroke-linecap="round"
							stroke-linejoin="round"
						/>
						<path
							d="M354.232 24.8115H348.774C344.465 24.8115 340.973 28.2069 340.973 32.3954V37.7019C340.973 41.8904 344.465 45.2858 348.774 45.2858H354.232C358.541 45.2858 362.033 41.8904 362.033 37.7019V32.3954C362.033 28.2069 358.541 24.8115 354.232 24.8115Z"
							fill="#EFAF00"
							stroke="black"
							stroke-width="6"
							stroke-linecap="round"
							stroke-linejoin="round"
						/>
						<path
							d="M318.299 24.8115H312.84C308.532 24.8115 305.039 28.2069 305.039 32.3954V37.7019C305.039 41.8904 308.532 45.2858 312.84 45.2858H318.299C322.607 45.2858 326.1 41.8904 326.1 37.7019V32.3954C326.1 28.2069 322.607 24.8115 318.299 24.8115Z"
							fill="#F46F40"
							stroke="black"
							stroke-width="6"
							stroke-linecap="round"
							stroke-linejoin="round"
						/>
						<path
							d="M1119.18 530.198H439.36C432.127 530.198 426.264 535.898 426.264 542.93V654.15C426.264 661.181 432.127 666.881 439.36 666.881H1119.18C1126.41 666.881 1132.28 661.181 1132.28 654.15V542.93C1132.28 535.898 1126.41 530.198 1119.18 530.198Z"
							stroke="#070707"
							stroke-width="6"
							stroke-linecap="round"
							stroke-linejoin="round"
						/>
						<path
							d="M1010.36 568.176H928.868V629.367H1010.36V568.176Z"
							fill="#EFAF00"
							stroke="black"
							stroke-width="6"
							stroke-linecap="round"
							stroke-linejoin="round"
						/>
						<path
							d="M1044.87 629.374H1010.36V583.474H1027.61L1044.87 607.772V629.374Z"
							fill="#F4F1ED"
							stroke="#070707"
							stroke-width="6"
							stroke-linecap="round"
							stroke-linejoin="round"
						/>
						<path
							d="M1016.61 591.969H1025.41L1034.22 604.375H1016.61V591.969Z"
							fill="#F4F1ED"
							stroke="#070707"
							stroke-width="6"
							stroke-linecap="round"
							stroke-linejoin="round"
						/>
						<path
							d="M952.903 638.571C957.791 638.571 961.753 634.719 961.753 629.967C961.753 625.216 957.791 621.364 952.903 621.364C948.016 621.364 944.054 625.216 944.054 629.967C944.054 634.719 948.016 638.571 952.903 638.571Z"
							fill="#F4F1ED"
							stroke="#070707"
							stroke-width="6"
							stroke-linecap="round"
							stroke-linejoin="round"
						/>
						<path
							d="M1027.49 638.571C1032.38 638.571 1036.34 634.719 1036.34 629.967C1036.34 625.216 1032.38 621.364 1027.49 621.364C1022.6 621.364 1018.64 625.216 1018.64 629.967C1018.64 634.719 1022.6 638.571 1027.49 638.571Z"
							fill="#F4F1ED"
							stroke="#070707"
							stroke-width="6"
							stroke-linecap="round"
							stroke-linejoin="round"
						/>
						<path
							d="M993.998 583.474H968.007"
							stroke="#070707"
							stroke-width="6"
							stroke-linecap="round"
							stroke-linejoin="round"
						/>
						<path
							d="M984.621 593.92H958.638"
							stroke="#070707"
							stroke-width="6"
							stroke-linecap="round"
							stroke-linejoin="round"
						/>
						<path
							d="M993.998 604.375H968.007"
							stroke="#070707"
							stroke-width="6"
							stroke-linecap="round"
							stroke-linejoin="round"
						/>
						<path
							d="M853.446 638.462C873.661 638.462 890.049 622.53 890.049 602.878C890.049 583.225 873.661 567.293 853.446 567.293C833.231 567.293 816.843 583.225 816.843 602.878C816.843 622.53 833.231 638.462 853.446 638.462Z"
							fill="#F4F1ED"
							stroke="#070707"
							stroke-width="6"
							stroke-linecap="round"
							stroke-linejoin="round"
						/>
						<path
							d="M853.602 567.402V638.57"
							stroke="#070707"
							stroke-width="6"
							stroke-linecap="round"
							stroke-linejoin="round"
						/>
						<path
							d="M860.072 567.619C860.072 567.619 884.472 595.142 860.072 638.353Z"
							fill="#F4F1ED"
						/>
						<path
							d="M860.072 567.619C860.072 567.619 884.472 595.142 860.072 638.353"
							stroke="#070707"
							stroke-width="6"
							stroke-linecap="round"
							stroke-linejoin="round"
						/>
						<path
							d="M847.125 567.619C847.125 567.619 822.725 595.142 847.125 638.353"
							stroke="#070707"
							stroke-width="6"
							stroke-linecap="round"
							stroke-linejoin="round"
						/>
						<path
							d="M816.999 602.986H890.205"
							stroke="#070707"
							stroke-width="6"
							stroke-linecap="round"
							stroke-linejoin="round"
						/>
						<path
							d="M830.809 630.827C830.809 630.827 852.962 617.886 875.912 630.827"
							stroke="#070707"
							stroke-width="6"
							stroke-linecap="round"
							stroke-linejoin="round"
						/>
						<path
							d="M830.809 575.304C830.809 575.304 852.962 588.245 875.912 575.304"
							stroke="#070707"
							stroke-width="6"
							stroke-linecap="round"
							stroke-linejoin="round"
						/>
						<path
							d="M747.429 620.359C762.248 620.359 774.26 609.257 774.26 595.562C774.26 581.866 762.248 570.764 747.429 570.764C732.61 570.764 720.598 581.866 720.598 595.562C720.598 609.257 732.61 620.359 747.429 620.359Z"
							fill="#FFEFF0"
						/>
						<path
							d="M742.365 618.393C757.619 618.393 769.984 606.967 769.984 592.872C769.984 578.778 757.619 567.352 742.365 567.352C727.111 567.352 714.745 578.778 714.745 592.872C714.745 606.967 727.111 618.393 742.365 618.393Z"
							fill="#EFAF00"
							stroke="black"
							stroke-width="6"
							stroke-linecap="round"
							stroke-linejoin="round"
						/>
						<path
							d="M756.175 580.104C757.98 581.735 759.42 583.71 760.405 585.907C761.389 588.103 761.898 590.473 761.898 592.868C761.898 595.264 761.389 597.634 760.405 599.83C759.42 602.026 757.98 604.002 756.175 605.632"
							stroke="#070707"
							stroke-width="6"
							stroke-linecap="round"
							stroke-linejoin="round"
						/>
						<path
							d="M761.864 619.853L778.968 637.349C779.703 638.081 780.696 638.516 781.747 638.566C782.798 638.616 783.83 638.276 784.634 637.616C785.021 637.299 785.337 636.908 785.563 636.467C785.788 636.027 785.919 635.546 785.947 635.054C785.975 634.563 785.899 634.071 785.725 633.609C785.55 633.147 785.28 632.725 784.932 632.368L767.828 614.879C767.093 614.147 766.101 613.712 765.05 613.661C763.999 613.61 762.967 613.947 762.161 614.605C761.774 614.922 761.458 615.313 761.233 615.754C761.007 616.194 760.876 616.675 760.848 617.167C760.821 617.658 760.896 618.15 761.071 618.612C761.245 619.074 761.515 619.496 761.864 619.853Z"
							fill="#EFAF00"
							stroke="black"
							stroke-width="6"
							stroke-linecap="round"
							stroke-linejoin="round"
						/>
						<path
							d="M672.319 577.964H620.486C617.759 577.964 615.548 580.114 615.548 582.765V633.155C615.548 635.806 617.759 637.956 620.486 637.956H672.319C675.046 637.956 677.257 635.806 677.257 633.155V582.765C677.257 580.114 675.046 577.964 672.319 577.964Z"
							fill="#C5DCDD"
							stroke="black"
							stroke-width="6"
							stroke-linecap="round"
							stroke-linejoin="round"
						/>
						<path
							d="M657.974 577.964H610.766C608.039 577.964 605.828 580.114 605.828 582.765V633.155C605.828 635.806 608.039 637.956 610.766 637.956H657.974C660.701 637.956 662.912 635.806 662.912 633.155V582.765C662.912 580.114 660.701 577.964 657.974 577.964Z"
							fill="#C5DCDD"
							stroke="black"
							stroke-width="6"
							stroke-linecap="round"
							stroke-linejoin="round"
						/>
						<path
							d="M635.3 641.216V574.19"
							stroke="#070707"
							stroke-width="6"
							stroke-linecap="round"
							stroke-linejoin="round"
						/>
						<path
							d="M602.794 607.815H679.994"
							stroke="#070707"
							stroke-width="6"
							stroke-linecap="round"
							stroke-linejoin="round"
						/>
						<path
							d="M644.544 558.712H649.08C651.532 558.712 653.883 559.659 655.616 561.344C657.35 563.029 658.324 565.315 658.324 567.698V568.971C658.324 571.354 657.35 573.64 655.616 575.325C653.883 577.01 651.532 577.957 649.08 577.957H635.3V567.734C635.3 565.351 636.274 563.065 638.007 561.38C639.741 559.695 642.092 558.748 644.544 558.748V558.712Z"
							stroke="#070707"
							stroke-width="6"
							stroke-linecap="round"
							stroke-linejoin="round"
						/>
						<path
							d="M635.196 577.972H622.605C620.668 577.972 618.811 577.224 617.441 575.892C616.072 574.561 615.303 572.755 615.303 570.872V569.867C615.303 567.984 616.072 566.179 617.441 564.847C618.811 563.516 620.668 562.768 622.605 562.768H627.915C629.852 562.768 631.709 563.516 633.079 564.847C634.448 566.179 635.218 567.984 635.218 569.867V577.972H635.196Z"
							stroke="#070707"
							stroke-width="6"
							stroke-linecap="round"
							stroke-linejoin="round"
						/>
						<path
							d="M646.811 590.255L635.195 577.964L628.086 584.883"
							stroke="#070707"
							stroke-width="6"
							stroke-linecap="round"
							stroke-linejoin="round"
						/>
						<path
							d="M527.961 558.155H529.106C531.25 558.155 533.306 558.983 534.822 560.457C536.338 561.931 537.189 563.93 537.189 566.014V576.743H519.877V566.014C519.877 563.93 520.729 561.931 522.245 560.457C523.761 558.983 525.817 558.155 527.961 558.155Z"
							stroke="#070707"
							stroke-width="6"
							stroke-linecap="round"
							stroke-linejoin="round"
						/>
						<path
							d="M521.87 558.155H523.015C525.159 558.155 527.215 558.983 528.731 560.457C530.247 561.931 531.099 563.93 531.099 566.014V576.743H513.794V566.014C513.794 563.93 514.646 561.931 516.162 560.457C517.678 558.983 519.734 558.155 521.878 558.155H521.87Z"
							stroke="#070707"
							stroke-width="6"
							stroke-linecap="round"
							stroke-linejoin="round"
						/>
						<path
							d="M555.081 638.57H536.386L544.179 576.707H547.288L555.081 638.57Z"
							fill="#1C0E0C"
						/>
						<path
							d="M544.18 576.707L536.386 638.57H491.989L499.775 576.707H544.18Z"
							fill="#EFAF00"
							stroke="black"
							stroke-width="6"
							stroke-linecap="round"
							stroke-linejoin="round"
						/>
						<path
							d="M903.792 278.333H753.647C746.414 278.333 740.551 284.033 740.551 291.064V437.03C740.551 444.061 746.414 449.761 753.647 449.761H903.792C911.025 449.761 916.888 444.061 916.888 437.03V291.064C916.888 284.033 911.025 278.333 903.792 278.333Z"
							fill="#1C0E0C"
						/>
						<path
							d="M896.467 271.118H746.321C739.089 271.118 733.226 276.818 733.226 283.849V429.815C733.226 436.846 739.089 442.546 746.321 442.546H896.467C903.7 442.546 909.563 436.846 909.563 429.815V283.849C909.563 276.818 903.7 271.118 896.467 271.118Z"
							fill="#F4F1ED"
							stroke="#070707"
							stroke-width="6"
							stroke-linecap="round"
							stroke-linejoin="round"
						/>
						<path
							d="M852.613 423.865H802.43C797.689 423.865 793.008 422.825 788.738 420.821C784.467 418.818 780.717 415.904 777.766 412.296C774.815 408.688 772.74 404.479 771.695 399.983C770.651 395.487 770.663 390.819 771.732 386.329L781.846 351.54C782.195 350.068 783.047 348.754 784.262 347.813C785.477 346.872 786.985 346.358 788.539 346.356H866.504C868.058 346.357 869.566 346.87 870.782 347.811C871.998 348.753 872.849 350.067 873.197 351.54L883.318 386.329C884.386 390.82 884.397 395.487 883.351 399.984C882.305 404.48 880.229 408.689 877.278 412.296C874.327 415.904 870.576 418.818 866.305 420.821C862.035 422.824 857.354 423.864 852.613 423.865Z"
							fill="#EFAF00"
						/>
						<path
							d="M846.552 418.573H796.369C791.628 418.573 786.947 417.532 782.677 415.529C778.406 413.526 774.655 410.612 771.704 407.004C768.752 403.397 766.677 399.188 765.631 394.692C764.585 390.196 764.596 385.528 765.663 381.037L775.777 346.248C776.128 344.777 776.98 343.465 778.196 342.525C779.411 341.586 780.917 341.073 782.47 341.071H860.421C861.974 341.073 863.48 341.586 864.696 342.525C865.911 343.465 866.763 344.777 867.114 346.248L877.235 381.037C878.302 385.526 878.314 390.192 877.269 394.686C876.225 399.181 874.151 403.389 871.202 406.996C868.253 410.603 864.505 413.518 860.237 415.522C855.969 417.527 851.291 418.569 846.552 418.573Z"
							stroke="#070707"
							stroke-width="6"
							stroke-linecap="round"
							stroke-linejoin="round"
						/>
						<path
							d="M851.839 334.94C851.841 337.005 851.68 339.067 851.356 341.107H791.565C791.242 339.067 791.08 337.005 791.082 334.94C791.082 315.898 804.684 300.455 821.461 300.455C838.238 300.455 851.839 315.861 851.839 334.94Z"
							stroke="#070707"
							stroke-width="6"
							stroke-linecap="round"
							stroke-linejoin="round"
						/>
						<path
							d="M865.456 343.182C864.43 365.876 844.708 383.994 821.461 383.994C798.824 383.994 778.492 365.883 777.466 343.182C778.11 342.516 778.887 341.985 779.751 341.622C780.614 341.259 781.545 341.071 782.486 341.071H860.436C861.377 341.072 862.307 341.26 863.17 341.623C864.033 341.986 864.811 342.517 865.456 343.182Z"
							stroke="#070707"
							stroke-width="6"
							stroke-linecap="round"
							stroke-linejoin="round"
						/>
						<path
							d="M824.488 377.328H818.427V391.201H824.488V377.328Z"
							stroke="#070707"
							stroke-width="6"
							stroke-linecap="round"
							stroke-linejoin="round"
						/>
						<path
							d="M874.611 292.177C885.375 292.177 894.102 283.694 894.102 273.229C894.102 262.763 885.375 254.28 874.611 254.28C863.846 254.28 855.119 262.763 855.119 273.229C855.119 283.694 863.846 292.177 874.611 292.177Z"
							fill="#C5DCDD"
							stroke="black"
							stroke-width="6"
							stroke-linecap="round"
							stroke-linejoin="round"
						/>
						<path
							d="M867.435 272.679L873.83 281.463L881.795 264.994"
							stroke="#070707"
							stroke-width="6"
							stroke-linecap="round"
							stroke-linejoin="round"
						/>
						<path
							d="M1123.31 164.018H744.009C738.053 164.018 733.226 168.711 733.226 174.501V229.099C733.226 234.889 738.053 239.582 744.009 239.582H1123.31C1129.27 239.582 1134.1 234.889 1134.1 229.099V174.501C1134.1 168.711 1129.27 164.018 1123.31 164.018Z"
							stroke="#070707"
							stroke-width="6"
							stroke-linecap="round"
							stroke-linejoin="round"
						/>
						<path
							d="M851.029 226.785H795.857C795.857 226.785 780.768 203.217 775.614 203.217C772.64 203.217 771.42 226.785 771.42 226.785H767.984C767.984 226.785 759.953 178.665 768.854 175.911C774.655 174.11 790.361 178.882 794.682 197.78C798.318 213.685 819.275 216.534 821.602 206.036C821.617 206.036 850.048 214.206 851.029 226.785Z"
							fill="#F4F1ED"
							stroke="#070707"
							stroke-width="6"
							stroke-linecap="round"
							stroke-linejoin="round"
						/>
						<path
							d="M992.527 215.232C992.43 216.346 990.355 221.681 990.355 221.681L884.354 218.189V212.406C884.472 204.934 886.231 197.574 889.514 190.818C892.266 185.237 896.081 186.625 896.081 186.625C896.081 186.625 906.448 196.479 918.079 196.479C919.093 196.471 920.088 196.205 920.965 195.708C921.842 195.211 922.569 194.5 923.076 193.645C923.762 192.604 924.295 191.474 924.66 190.29C925.15 188.751 925.491 187.17 925.679 185.569C925.768 184.893 926.023 184.247 926.423 183.686C926.823 183.125 927.355 182.666 927.976 182.348C928.596 182.03 929.287 181.861 929.989 181.857C930.69 181.853 931.383 182.013 932.007 182.323C936.574 184.601 942.121 189.712 956.957 197.505L959.263 198.698C977.311 207.952 992.341 204.518 992.527 215.232Z"
							fill="#F4F1ED"
							stroke="#070707"
							stroke-width="6"
							stroke-linecap="round"
							stroke-linejoin="round"
						/>
						<path
							d="M980.606 226.785C983.678 226.785 987.426 225.433 989.433 223.243C990.684 221.815 991.583 220.128 992.06 218.311C992.536 216.494 992.579 214.595 992.185 212.76H992.103C991.679 214.946 990.496 216.925 988.751 218.365C987.006 219.805 984.805 220.618 982.517 220.669L890.593 218.052C889.181 218.008 887.817 217.54 886.69 216.711C885.563 215.883 884.729 214.734 884.302 213.425V219.433C884.302 223.489 887.336 226.785 891.077 226.785H980.606Z"
							fill="#EFAF00"
							stroke="black"
							stroke-width="6"
							stroke-linecap="round"
							stroke-linejoin="round"
						/>
						<path
							d="M960.952 199.58C937.987 191.946 926.498 188.49 924.616 190.319C925.106 188.78 925.447 187.199 925.635 185.598C925.724 184.921 925.979 184.275 926.379 183.715C926.779 183.154 927.311 182.695 927.932 182.377C928.553 182.059 929.243 181.89 929.945 181.886C930.646 181.881 931.339 182.041 931.964 182.352C936.545 184.629 944.182 191.418 960.952 199.58Z"
							fill="#EFAF00"
							stroke="black"
							stroke-width="6"
							stroke-linecap="round"
							stroke-linejoin="round"
						/>
						<path
							d="M935.904 189.531L940.069 183.371C940.312 183.011 940.628 182.703 940.998 182.465C941.368 182.227 941.783 182.065 942.22 181.989C942.656 181.912 943.104 181.923 943.535 182.02C943.967 182.118 944.374 182.299 944.732 182.555C945.371 183.01 945.819 183.677 945.992 184.429C946.164 185.182 946.049 185.97 945.669 186.647L945.111 187.63"
							stroke="#070707"
							stroke-width="6"
							stroke-linecap="round"
							stroke-linejoin="round"
						/>
						<path
							d="M946.613 192.726L949.662 188.294C949.882 187.984 950.164 187.721 950.492 187.52C950.82 187.319 951.186 187.185 951.568 187.126C951.951 187.068 952.342 187.085 952.717 187.178C953.093 187.27 953.445 187.436 953.752 187.666C954.311 188.074 954.696 188.669 954.833 189.335C954.97 190.002 954.85 190.694 954.496 191.28L953.395 193.218"
							stroke="#070707"
							stroke-width="6"
							stroke-linecap="round"
							stroke-linejoin="round"
						/>
						<path
							d="M961.985 197.447C963.205 195.842 962.907 193.984 961.688 193.11C961.359 192.873 960.984 192.703 960.586 192.611C960.188 192.52 959.775 192.507 959.372 192.575C958.969 192.642 958.584 192.788 958.241 193.005C957.897 193.221 957.603 193.503 957.374 193.833L955.508 196.804"
							stroke="#070707"
							stroke-width="6"
							stroke-linecap="round"
							stroke-linejoin="round"
						/>
						<path
							d="M1098.96 180.227C1108.17 180.227 1115.63 172.97 1115.63 164.018C1115.63 155.066 1108.17 147.809 1098.96 147.809C1089.75 147.809 1082.29 155.066 1082.29 164.018C1082.29 172.97 1089.75 180.227 1098.96 180.227Z"
							fill="#F46F40"
							stroke="black"
							stroke-width="6"
							stroke-linecap="round"
							stroke-linejoin="round"
						/>
						<path
							d="M1093.48 169.549L1104.44 158.487"
							stroke="#070707"
							stroke-width="6"
							stroke-linecap="round"
							stroke-linejoin="round"
						/>
						<path
							d="M1104.44 169.549L1093.48 158.487"
							stroke="#070707"
							stroke-width="6"
							stroke-linecap="round"
							stroke-linejoin="round"
						/>
						<path
							d="M1024.43 200.94C1024.43 200.94 1012.57 226.786 1029.81 226.786H1110.04C1110.04 226.786 1113.27 214.127 1092.43 210.881C1089.54 210.432 1081.28 208.885 1081.28 208.885C1081.28 208.885 1083.85 219.007 1065.52 218.211C1047.19 217.416 1038.88 202.212 1024.43 200.94Z"
							fill="#F4F1ED"
							stroke="#070707"
							stroke-width="6"
							stroke-linecap="round"
							stroke-linejoin="round"
						/>
						<path
							d="M706.945 175.557H451.087C443.854 175.557 437.991 181.257 437.991 188.288V437.023C437.991 444.054 443.854 449.754 451.087 449.754H706.945C714.177 449.754 720.041 444.054 720.041 437.023V188.288C720.041 181.257 714.177 175.557 706.945 175.557Z"
							fill="#1C0E0C"
						/>
						<path
							d="M695.217 164.018H439.36C432.127 164.018 426.264 169.718 426.264 176.749V425.484C426.264 432.516 432.127 438.216 439.36 438.216H695.217C702.45 438.216 708.313 432.516 708.313 425.484V176.749C708.313 169.718 702.45 164.018 695.217 164.018Z"
							fill="#EFAF00"
							stroke="black"
							stroke-width="6"
							stroke-linecap="round"
							stroke-linejoin="round"
						/>
						<path
							d="M672.215 274.834L634.764 305.668V388.252H510.096V305.668L472.66 274.834L501.366 240.067C510.074 232.7 523.341 231.543 532.964 231.543H615.377C634.712 231.543 639.613 235.085 644.632 238.924L672.215 274.834Z"
							fill="#1C0E0C"
						/>
						<path
							d="M669.062 269.194L630.942 300.585V384.666H504.013V300.585L465.9 269.194L495.141 233.769C504.013 226.272 517.518 225.094 527.32 225.094H611.227C630.912 225.094 635.894 228.709 640.974 232.613L669.062 269.194Z"
							fill="#F4F1ED"
							stroke="#070707"
							stroke-width="6"
							stroke-linecap="round"
							stroke-linejoin="round"
						/>
						<path
							d="M504.013 300.586V270.836"
							stroke="#070707"
							stroke-width="6"
							stroke-linecap="round"
							stroke-linejoin="round"
						/>
						<path
							d="M630.912 300.868V271.118"
							stroke="#070707"
							stroke-width="6"
							stroke-linecap="round"
							stroke-linejoin="round"
						/>
						<path
							d="M567.478 252.509V384.666"
							stroke="#070707"
							stroke-width="6"
							stroke-linecap="round"
							stroke-linejoin="round"
						/>
						<path
							d="M606.9 225.123H578.321C578.053 225.123 577.792 225.204 577.574 225.354C577.356 225.504 577.19 225.716 577.101 225.961L567.478 252.523L557.357 226.2C557.236 225.888 557.021 225.62 556.739 225.43C556.457 225.24 556.123 225.138 555.78 225.137H527.61L541.301 213.808C544.364 211.273 548.255 209.881 552.278 209.883H582.232C586.257 209.88 590.152 211.272 593.216 213.808L606.9 225.123Z"
							fill="#F4F1ED"
							stroke="#070707"
							stroke-width="6"
							stroke-linecap="round"
							stroke-linejoin="round"
						/>
						<path
							d="M547.19 213.873L556.94 225.123L545.785 240.609L527.595 225.123L541.843 213.432C542.224 213.119 542.664 212.882 543.139 212.734C543.614 212.587 544.114 212.532 544.611 212.573C545.108 212.614 545.592 212.75 546.034 212.973C546.477 213.196 546.87 213.502 547.19 213.873Z"
							fill="#F4F1ED"
							stroke="#070707"
							stroke-width="6"
							stroke-linecap="round"
							stroke-linejoin="round"
						/>
						<path
							d="M587.326 213.873L577.569 225.123L588.724 240.608L606.914 225.123L592.666 213.432C592.286 213.12 591.846 212.884 591.372 212.737C590.897 212.59 590.398 212.535 589.902 212.576C589.406 212.617 588.923 212.753 588.481 212.975C588.039 213.198 587.647 213.503 587.326 213.873Z"
							fill="#F4F1ED"
							stroke="#070707"
							stroke-width="6"
							stroke-linecap="round"
							stroke-linejoin="round"
						/>
						<path
							d="M586.553 273.229H611.837V296.545C611.837 297.758 611.341 298.922 610.459 299.78C609.576 300.639 608.378 301.121 607.13 301.121H591.26C590.012 301.121 588.814 300.639 587.931 299.78C587.049 298.922 586.553 297.758 586.553 296.545V273.229Z"
							fill="#F4F1ED"
							stroke="#070707"
							stroke-width="6"
							stroke-linecap="round"
							stroke-linejoin="round"
						/>
						<path
							d="M559.714 265.189C561.41 265.189 562.785 263.853 562.785 262.204C562.785 260.555 561.41 259.218 559.714 259.218C558.018 259.218 556.643 260.555 556.643 262.204C556.643 263.853 558.018 265.189 559.714 265.189Z"
							fill="#1C0E0C"
						/>
						<path
							d="M559.714 288.042C561.41 288.042 562.785 286.706 562.785 285.057C562.785 283.408 561.41 282.071 559.714 282.071C558.018 282.071 556.643 283.408 556.643 285.057C556.643 286.706 558.018 288.042 559.714 288.042Z"
							fill="#1C0E0C"
						/>
						<path
							d="M559.714 310.895C561.41 310.895 562.785 309.558 562.785 307.909C562.785 306.26 561.41 304.923 559.714 304.923C558.018 304.923 556.643 306.26 556.643 307.909C556.643 309.558 558.018 310.895 559.714 310.895Z"
							fill="#1C0E0C"
						/>
						<path
							d="M559.714 333.748C561.41 333.748 562.785 332.411 562.785 330.762C562.785 329.113 561.41 327.776 559.714 327.776C558.018 327.776 556.643 329.113 556.643 330.762C556.643 332.411 558.018 333.748 559.714 333.748Z"
							fill="#1C0E0C"
						/>
						<path
							d="M559.714 356.601C561.41 356.601 562.785 355.264 562.785 353.615C562.785 351.966 561.41 350.629 559.714 350.629C558.018 350.629 556.643 351.966 556.643 353.615C556.643 355.264 558.018 356.601 559.714 356.601Z"
							fill="#1C0E0C"
						/>
						<path
							d="M657.209 199.378C674.09 199.378 687.774 186.075 687.774 169.664C687.774 153.254 674.09 139.951 657.209 139.951C640.329 139.951 626.645 153.254 626.645 169.664C626.645 186.075 640.329 199.378 657.209 199.378Z"
							fill="#F4F1ED"
							stroke="#070707"
							stroke-width="6"
							stroke-linecap="round"
							stroke-linejoin="round"
						/>
						<path
							d="M649.355 156.369C645.436 156.369 642.796 159.319 642.796 163.693C642.796 168.356 645.205 171.146 649.236 171.146C653.267 171.146 655.736 168.255 655.736 163.541C655.713 159.131 653.274 156.369 649.355 156.369ZM649.303 168.378C646.611 168.378 646.209 165.413 646.209 163.657C646.209 160.765 647.31 159.138 649.303 159.138C651.839 159.138 652.367 161.553 652.367 163.592C652.33 166.78 651.311 168.392 649.281 168.392L649.303 168.378Z"
							fill="#1C0E0C"
						/>
						<path
							d="M666.02 166.917C662.168 166.917 659.469 169.932 659.469 174.241C659.469 178.839 661.938 181.687 665.909 181.687C669.88 181.687 672.409 178.795 672.409 174.082C672.409 169.664 669.962 166.917 666.02 166.917ZM665.976 178.918C663.284 178.918 662.882 175.961 662.882 174.204C662.882 171.313 664.013 169.679 665.976 169.679C668.512 169.679 669.032 172.101 669.032 174.132C669.032 177.176 667.947 178.918 665.976 178.918Z"
							fill="#1C0E0C"
						/>
						<path
							d="M667.851 156.716L650.776 181.42H647.37L664.43 156.716H667.851Z"
							fill="#1C0E0C"
						/>
						<path
							d="M1124.42 278.333H974.27C967.037 278.333 961.174 284.033 961.174 291.064V437.03C961.174 444.061 967.037 449.761 974.27 449.761H1124.42C1131.65 449.761 1137.51 444.061 1137.51 437.03V291.064C1137.51 284.033 1131.65 278.333 1124.42 278.333Z"
							fill="#1C0E0C"
						/>
						<path
							d="M1117.08 271.118H966.937C959.704 271.118 953.841 276.818 953.841 283.849V429.815C953.841 436.846 959.704 442.546 966.937 442.546H1117.08C1124.32 442.546 1130.18 436.846 1130.18 429.815V283.849C1130.18 276.818 1124.32 271.118 1117.08 271.118Z"
							fill="#C5DCDD"
							stroke="black"
							stroke-width="6"
							stroke-linecap="round"
							stroke-linejoin="round"
						/>
						<path
							d="M1090.4 337.038H1010C1007.27 337.038 1005.06 339.187 1005.06 341.838V409.847C1005.06 412.498 1007.27 414.648 1010 414.648H1090.4C1093.13 414.648 1095.34 412.498 1095.34 409.847V341.838C1095.34 339.187 1093.13 337.038 1090.4 337.038Z"
							fill="white"
						/>
						<path
							d="M1095.43 338.816V406.587C1095.44 407.645 1095.22 408.692 1094.81 409.67C1094.39 410.647 1093.78 411.536 1093.01 412.284C1092.24 413.032 1091.33 413.625 1090.32 414.029C1089.32 414.434 1088.24 414.641 1087.15 414.641H1067.07C1069.27 414.641 1071.38 413.792 1072.93 412.282C1074.48 410.771 1075.36 408.723 1075.36 406.587V338.816C1075.36 337.758 1075.14 336.709 1074.73 335.731C1074.31 334.753 1073.7 333.863 1072.93 333.114C1072.16 332.365 1071.25 331.77 1070.24 331.364C1069.24 330.958 1068.16 330.749 1067.07 330.748H1087.15C1088.24 330.749 1089.32 330.958 1090.32 331.364C1091.33 331.77 1092.24 332.365 1093.01 333.114C1093.78 333.863 1094.39 334.753 1094.81 335.731C1095.22 336.709 1095.44 337.758 1095.43 338.816Z"
							stroke="#070707"
							stroke-width="6"
							stroke-linecap="round"
							stroke-linejoin="round"
						/>
						<path
							d="M1075.38 338.816V406.587C1075.38 408.723 1074.51 410.771 1072.95 412.282C1071.4 413.792 1069.29 414.641 1067.09 414.641H1003.88C1002.79 414.641 1001.72 414.434 1000.71 414.03C999.704 413.625 998.79 413.032 998.02 412.284C997.25 411.536 996.639 410.648 996.222 409.67C995.805 408.693 995.591 407.645 995.591 406.587V338.816C995.591 336.678 996.464 334.627 998.019 333.114C999.574 331.601 1001.68 330.75 1003.88 330.748H1067.09C1068.18 330.749 1069.26 330.958 1070.27 331.364C1071.27 331.77 1072.19 332.365 1072.96 333.114C1073.72 333.863 1074.33 334.753 1074.75 335.731C1075.17 336.709 1075.38 337.758 1075.38 338.816Z"
							stroke="#070707"
							stroke-width="6"
							stroke-linecap="round"
							stroke-linejoin="round"
						/>
						<path
							d="M1036.76 418.414V324.682"
							stroke="#070707"
							stroke-width="6"
							stroke-linecap="round"
							stroke-linejoin="round"
						/>
						<path
							d="M992.11 372.492H1098.45"
							stroke="#070707"
							stroke-width="6"
							stroke-linecap="round"
							stroke-linejoin="round"
						/>
						<path
							d="M1049.69 303.854H1056.04C1059.47 303.854 1062.75 305.178 1065.18 307.536C1067.61 309.894 1068.97 313.091 1068.97 316.426V318.212C1068.97 321.546 1067.61 324.744 1065.18 327.102C1062.75 329.459 1059.47 330.784 1056.04 330.784H1036.76V316.397C1036.77 313.068 1038.13 309.877 1040.56 307.526C1042.98 305.174 1046.27 303.854 1049.69 303.854Z"
							stroke="#070707"
							stroke-width="6"
							stroke-linecap="round"
							stroke-linejoin="round"
						/>
						<path
							d="M1036.61 330.755H1019.02C1016.31 330.755 1013.71 329.709 1011.8 327.848C1009.88 325.986 1008.81 323.461 1008.81 320.829V319.419C1008.81 316.786 1009.88 314.261 1011.8 312.4C1013.71 310.538 1016.31 309.493 1019.02 309.493H1026.41C1029.12 309.493 1031.71 310.538 1033.63 312.4C1035.54 314.261 1036.62 316.786 1036.62 319.419V330.755H1036.61Z"
							stroke="#070707"
							stroke-width="6"
							stroke-linecap="round"
							stroke-linejoin="round"
						/>
						<path
							d="M1052.86 347.933L1036.61 330.748L1026.67 340.421"
							stroke="#070707"
							stroke-width="6"
							stroke-linecap="round"
							stroke-linejoin="round"
						/>
						<path
							d="M1207.5 544.557H1085.22V570.764H1207.5V544.557Z"
							fill="#1C0E0C"
						/>
					</svg>
				</picture>
			</div>
			<div class="left-container">
				<div class="left-desktop">
					<div class="logo">
						<picture class="logo-pic" style="width: 100%; height: 100%">
							<img src="../images/logo.webp" alt="" />
						</picture>
						<h1 class="logo-name">Mooney</h1>
					</div>
					<nav class="navigation">
						<ul class="nav-ul">
							<li>
								<a href="/dashboard" class="about" data-hover="btn">
									<i class="ri-home-7-fill"></i>
									<div class="overflow-hidden">
										<div class="overflow-vertical">
											<div class="overflow-txt"><span>Dashboard</span></div>
											<div class="overflow-txt ot-abosolute">
												<span>Dashboard</span>
											</div>
										</div>
									</div>
								</a>
							</li>
							<li>
								<a href="/wallet" class="about" data-hover="btn">
									<i class="ri-wallet-3-fill"></i>
									<div class="overflow-hidden">
										<div class="overflow-vertical">
											<div class="overflow-txt"><span>Wallet</span></div>
											<div class="overflow-txt ot-abosolute">
												<span>Wallet</span>
											</div>
										</div>
									</div>
								</a>
							</li>
							<li>
								<a href="/transaction" class="about" data-hover="btn">
									<i class="ri-bar-chart-fill"></i>
									<div class="overflow-hidden">
										<div class="overflow-vertical">
											<div class="overflow-txt"><span>transaction</span></div>
											<div class="overflow-txt ot-abosolute">
												<span>transaction</span>
											</div>
										</div>
									</div>
								</a>
							</li>
							<li>
								<a href="/profile" class="about" data-hover="btn">
									<i class="ri-user-2-fill"></i>
									<div class="overflow-hidden">
										<div class="overflow-vertical">
											<div class="overflow-txt"><span>Profile</span></div>
											<div class="overflow-txt ot-abosolute">
												<span>Profile</span>
											</div>
										</div>
									</div>
								</a>
							</li>
								<li>
								<a href="/settings" class="about" data-hover="btn">
									<i class="ri-settings-5-fill"></i>
									<div class="overflow-hidden">
										<div class="overflow-vertical">
											<div class="overflow-txt"><span>Settings</span></div>
											<div class="overflow-txt ot-abosolute">
												<span>Settings</span>
											</div>
										</div>
									</div>
								</a>
							</li>
						</ul>
						<ul class="nav-ul logout-btn">
							<li>
								<a href="/signout" class="about" data-hover="btn">
									<i class="ri-logout-box-fill"></i>
									<div class="overflow-hidden">
										<div class="overflow-vertical">
											<div class="overflow-txt"><span>Logout</span></div>
											<div class="overflow-txt ot-abosolute">
												<span>Logout</span>
											</div>
										</div>
									</div>
								</a>
							</li>
						</ul>
					</nav>
				</div>
			</div>
			<div class="center-container">
				<div class="search-box"></div>
			</div>
			<div class="right-container">
				<div class="right-desktop">
					<div class="right-top">
						<div class="right-icons">
							<div class="setting-btn">
								<i class="ri-settings-5-fill menuBtn"></i>
							</div>
							<div class="close-menu">
								<div class="open-btn obb">
									<i class="ri-menu-3-line menuBtn"></i>
								</div>
								<div class="close-btn obb">
									<i class="ri-close-fill menuBtn"></i>
								</div>
							</div>
						</div>
					</div>
					<div class="profile-container">
						<div class="profile-pic">
							<div class="dp"></div>

							<div class="profile-name"><%= admin.username %></div>
						</div>
						<ul class="total-expense">
							<li>
								<i class="ri-calendar-close-line"></i>
								<span>Top Up</span>
							</li>
							<li>
								<i class="ri-calendar-close-line"></i>
								<span>Pay</span>
							</li>
							<li>
								<i class="ri-calendar-close-line"></i>
								<span>Send</span>
							</li>
							<li>
								<i class="ri-add-circle-fill"></i>
								<span>Add</span>
							</li>
						</ul>
						<div class="recent-transaction">
							<div class="recent-title"></div>
						</div>
					</div>
				</div>
			</div>
		</main>
		<script src="../javascripts/dashboard.js"></script>
	</body>
</html>
