<%- include("header.ejs")%>
<!--  -->
<%- include("nav.ejs")%>
<!--  -->
<form action="/send-mail" method="POST">
    <input type="email" name="email" placeholder="enter registered email" />
    <button>Send Mail</button>
</form>
<!--  -->
<%- include("footer.ejs")%>
