<nav>
    <% if(!admin){ %>
    <!--  -->
    <a href="/">Home</a>
    &nbsp;&nbsp;&nbsp;
    <a href="/signup">SignUp</a>
    &nbsp;&nbsp;&nbsp;
    <!--  -->
    <% } else { %>
    <!--  -->
    <a href="/profile">Home</a>
    &nbsp;&nbsp;&nbsp
    <a href="/reset">Reset Password</a>
    &nbsp;&nbsp;&nbsp;
    <a href="/signout">Signout</a>
    <!--  -->
    <% } %>
</nav>
