<%- include("header.ejs")%>
<!--  -->
<%- include("nav.ejs")%>
<!--  -->
<form action="/signin" method="POST">
    <input type="text" name="username" placeholder="username" />
    <input type="password" name="password" placeholder="password" />
    <button>Signin</button>
    <a href="/forget">Forget Password ?</a>
</form>
<!--  -->
<%- include("footer.ejs")%>
