@import url(../fonts/remixicon.css);
@font-face {
	font-family: roboto;
	src: url(../fonts/Roboto/Roboto-Bold.ttf);
}
@font-face {
	font-family: gilroy;
	src: url(../fonts/Gilroy-Font/Radomir\ Tinkov\ -\ Gilroy-ExtraBold.otf);
}
:root {
	/* --mainbg: #e3f4f4; */
	--mainLightBg: 90deg, rgba(201, 200, 219, 1) 0%, rgba(164, 201, 255, 1) 35%,
		rgba(160, 199, 213, 1) 70%, rgba(212, 248, 255, 1) 100%;
	--mainDarkBg: 112.1deg, rgb(32, 38, 57) 11.4%, rgb(63, 76, 119) 70.2%;
	--purplebg: #5955e7;
	--purpleDLbg: #3a36c3;
	--purpno: transparent;
	--graycolor: #333131;
	--mainBlack: #28282b;
	--mainWhite: #f9f6ee;
	--darkGray: #0d0d0d;
	--darkGrayOp: #0d0d0d;
	--darkWhite: #f5f5f5;
	--darkWhiteOp: #f5f5f5;
	--fontBlack: #080808;
	--fontWhite: #f2f2f2;
	--timeDLmode: '2s';
	--easeDLmode: ease;
	--centerBg: #f4f4f452;
	--whiteBg: rgba(255, 255, 255, 0.84);
	--grayBg: #35353ad8;
	--fontHeading: 2.2vmax;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: gilroy;
}
html,
body {
	height: 100%;
	width: 100%;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

/* Universal classes  */
input[type='number'] {
	-moz-appearance: textfield;
}
.currency::before{
	content: '\20B9';
	margin-right: 3px;

}
a {
	text-decoration: none;
}
i {
	font-size: 32px;
}
li {
	list-style: none;
}
.dfacjsb {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.dfacjc {
	display: flex;
	align-items: center;
	justify-content: center;
}
#main {
	height: 100vh;
	width: 100vw;
	/* background-color: red; */
	background: linear-gradient(var(--mainLightBg));
	background-position: center;
	background-size: cover;
	display: flex;
	flex-direction: row;
	padding: 1rem;
	overflow: hidden;
}
/* ----------------- Illustration Container -----------  */
/* ----------------- Illustration Container -----------  */
.illustration-container {
	position: absolute;
	height: 100vh;
	width: 100vw;
	/* background-color: red; */
	z-index: -5;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	display: flex;
	align-items: center;
	justify-content: center;
	overflow: hidden;
	user-select: none;
	pointer-events: none;
}
.illustration-container picture {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 70%;
	width: 70%;
}
.illustration-container picture img {
	width: 100%;
	height: 100%;
}

/* ----------------- Left Container -----------  */
/* ----------------- Left Container -----------  */
.left-container {
	max-height: 100%;
	width: 20%;
	/* background-color: rgb(122, 218, 165); */
	z-index: 10;
}
.left-desktop {
	height: 100%;
	padding: .5rem 1rem;
}
.logo {
	display: flex;
	padding: 0 1.5rem;
	align-items: center;
	justify-content: center;
	/* background-color: gray; */
}
.logo-pic img {
	width: 4vw;
}
.logo-name {
	text-align: center;
	margin: 0;
	font-size: xx-large;
	font-family: gilroy;
	font-weight: 900;
}
.navigation {
	height: fit-content;
	/* background-color: rgb(27, 154, 173); */
	padding: 20px 16px;
}

nav ul li a {
	text-decoration: none;
	font-size: 1.1rem;
	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
		Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	font-weight: 700;
	list-style: none;
	display: inline-flex;
	align-items: center;
	justify-content: start;
	gap: 20px;
	font-family: roboto;
	cursor: pointer;
	white-space: nowrap;
	/* background-color: red; */
	color: var(--graycolor);
}
.nav-top-anchors li {
	margin: 4vh 0;
}
.nav-bottom-anchors{
	margin-top: 10vh;
}
.nav-bottom-anchors li{
	margin: 3vh 0;
}
nav ul li a:hover {
	color: var(--purplebg);
	-webkit-text-stroke: 1px var(--purpno);
}
nav ul li a i {
	font-size: 32px;
	text-align: center;
}
nav ul li a span {
	text-align: center;
}
/* .logout-btn {
	margin-top: 20px;
} */
/* ---------- Rollup Effects CSs -------- */
.overflow-hidden {
	overflow: hidden;
	position: relative;
	/* background-color: red; */
	transform: translate(0, 0);
	text-transform: capitalize;
}
.about {
	font-size: 1.05rem;
	font-weight: 600;
}
.overflow-vertical {
	position: relative;
	top: 0;
	/* left: 0; */
	transition: top 0.4s, transform 0.6s ease-in-out;
	/* transform: translate3d(-7px, 37px, 0px) rotate(12deg); */
}
.overflow-txt.ot-abosolute {
	position: absolute;
	left: 0;
	bottom: -1.5em;
}
[data-hover='btn']:hover .overflow-vertical {
	top: -1.5em;
}
/* ----  */
.oflow-txt.of-absolute {
	position: absolute;
	left: 0;
	bottom: -1.5em;
}
.oflow-txt {
	margin: 0;
	display: inline-block;
	height: fit-content;
	width: fit-content;
}
/* ---------- Rollup Effects CSs -------- */

/* ----------------- Center Container -----------  */
/* ----------------- Center Container -----------  */
.center-container {
	width: 60%;
	border-radius: 50px;
	background-color: #f4f4f452;
	backdrop-filter: blur(3px);
	/* filter: blur(0.5px); */
	transition: all ease 0.5s;
	z-index: 10;
	padding: 25px;
}
.overlay{
	width: 120vw;
	height: 120vh;
	scale: 0;
	background-color: rgba(255, 255, 255, 0.577);
	position: absolute;
	z-index: 50;
	top: 50% ;	
	left: 50%;
	transform: translate(-50%,-50%);
}
.input-box {
	position: relative;
	height: 50px;
	max-width: 70%;
	width: 100%;
	background: transparent;
	/* margin: 0 20px; */
	border-radius: 50px;
	/* border: 2px solid rgba(29, 28, 28, 0.258); */
	/* box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1); */
	box-shadow: 10px 10px 80px #00000051, inset -10px -10px 50px #ffffff27;
	transition: all ease-in-out 0.4s;
}
.input-box:hover {
	max-width: 100%;
	height: 55px;
}
.input-box i,
.input-box .button {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}
::placeholder {
	color: var(--graycolor);
	opacity: 1; /* Firefox */
}
.input-box i {
	left: 20px;
	font-size: 30px;
	color: #707070;
}
.input-box input {
	color: var(--darkGray);
	height: 100%;
	width: 100%;
	outline: none;
	font-size: 16px;
	font-weight: 600;
	border: none;
	padding: 0 155px 0 35px;
	background-color: transparent;
	pointer-events: all;
}
.input-box .button {
	right: 20px;
	font-size: 12px;
	font-weight: 700;
	color: #362525;
	border: none;
	padding: 8px 15px;
	border-radius: 30px;
	background-color: #d9c8839a;
	cursor: pointer;
	transition: all ease-in-out 0.4s;
}
.input-box:hover .button {
	background-color: #e7c645;
	color: black;
}
.input-box .button.clicked {
	transform: translateY(-50%) scale(0.98);
}
.search-container {
	position: relative;
	/* height: 10%; */
	width: 60%;
	/* background-color: green; */
	/* overflow: hidden; */
}
.search-box,
.search-showing {
	margin-top: 0px;
	padding: 20px;
	gap: 5px;
	display: flex;
	flex-direction: column;
	/* position: absolute;
	top: 17%;
	left: 50%;
	transform: translate(-50%, -50%); */
	max-width: 100%;
	z-index: 999;
	width: 100%;
	box-shadow: 10px 10px 80px #0000005b, inset -10px -10px 50px #ffffff62;
	border-radius: 10px;
	background-color: #ffffffe8;
}
.search-box {
	height: fit-content;
}
.search-showing {
	position: absolute;
	/* overflow: hidden; */
	overflow-x: hidden;
	overflow-y: auto;
	cursor: context-menu;
	/* transition: opacity ease-in-out .4s, height .6s ease-out ; */
	transition: opacity ease-in-out 0.5 s, height 0.4s ease-in-out;
}
.search-showing.notvisible {
	pointer-events: none;
	opacity: 0;
}
.search-showing.visible {
	opacity: 1;
	min-height: 10%;
	max-height: 550px;
	pointer-events: all;
	/* transition: opacity ease-in-out .4s, height .6s ease-in-out ; */
}
.searched-items {
	cursor: context-menu;
	/* background-color: red; */
	/* padding: 2px 4px; */
	/* margin-top: 8px; */
}
[data-search-show] {
	cursor: context-menu;
	display: flex;
	flex-wrap: nowrap;
	align-items: center;
	/* grid-template-columns: repeat(auto-fill  , min-max(50x, 1fr)); */
}
.e-icon {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 8px;
	background-color: gray;
	border-radius: 8px;
}
.e-icon i {
	font-size: 25px;
}
.e-details-container {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.e-details {
	line-height: 1.2;
	padding: 2px 0;
	margin-left: 20px;
}
.e-details h1,
.exp-category,.exp-remark {
	text-transform: capitalize;
	font-size: 18px;
	font-weight: 800;
}
.exp-category{
	display: none;
}
.e-details p,
.exp-payment {
	text-transform: capitalize;
	font-size: 12px;
	opacity: 0.5;
	font-weight: 600;
}
.e-amount,
.exp-amount {
	/* margin-left: 80px; */
	display: flex;
	align-items: center;
	font-weight: 800;
	margin-right: 30px;
}
.e-amount i {
	font-size: 20px;
	margin-right: 5px;
	font-weight: 100;
}
.hide {
	display: none;
}
.chup {
	display: none;
}
.search-box.render-search {
	display: none;
	/* display: flex; */
}

/* ----- Center Heading Board ----- */
.hd-pd{
	padding: 20px 30px;
}
.head-board {
	margin-top: 10px;
	position: relative;
	border-radius: 17px;
	/* overflow: hidden; */
	/* background-color: var(--mainBlack); */
	background-color: var(--darkGray);
	transition: backgroudColor var(--timeDLmode) var(--easeDLmode);
	/* height: fit-content; */
	min-height: 130px;
	z-index: 60;
}
/* Head OverLay */
.head-overlay {
	border-radius: 17px;
	width: 100%;
	height: 0vh;
	overflow: hidden;
	background-color: var(--whiteBg);
	position: absolute;
	z-index: 10;
	top: 0;
	left: 50%;
	transform: translateX(-50%);
	display: flex;
	align-items: flex-start;
	justify-content: flex-end;
	padding: 25 px;
	opacity: 0;
	pointer-events: all;
	transition: opacity 1s ease, height 1s ease-out;
	box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}
.head-close {
	/* position: absolute; */
	background-color: var(--darkGray);
	position: absolute;
	margin: 20px 20px 0 0;
	padding: 10px;
	border-radius: 50%;
	transform: rotate(45deg);
	transition: all 0.7s ease;
}
.head-close i {
	color: var(--darkWhite);
}
.head-close:hover {
	transform: rotate(135deg);
	background-color: #36c35c;
}
.expense-form {
	width: 100%;
	margin: auto;
	/* background-color: #fff; */
	padding: 20px;
	border-radius: 8px;
	transition: transform 0.3s ease-in-out;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.addExpenseForm,.addIncomeForm{
	display: none;
}
.formShow{
	display: initial;
}
.expense-form form {
	width: 80%;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
	-webkit-appearance: none;
	margin: 0;
}
.expense-form form h2 {
	font-size: 2rem;
	text-align: center;
	color: var(--darkWhite);
	margin-bottom: 20px;
	background-color: var(--darkGray);
	border-radius: 14px;
	padding: 40px 50px;
}

.expense-form form label {
	display: block;
	margin-bottom: 8px;
	font-weight: 600;
	color: var(--darkGray);
	text-align: end;
	line-height: 230%;
	margin-right: 30px;
	width: 70%;
	align-items: center;
	justify-content: center;
}
.required label:after {
	content: '*';
	color: red;
}

.expense-form form input,
.expense-form form select {
	width: 100%;
	padding: 10px 20px;
	margin-bottom: 16px;
	border: 1px solid #ddd;
	border-radius: 50px;
	box-sizing: border-box;
	transition: border-color 0.3s ease-in-out;
}

#datetime {
	width: 45%;
}
.expense-form form input:focus,
.expense-form form select:focus {
	border-color: var(--purplebg);
}

.expense-form form button{
	width: 100%;
	background-color: #4caf50;
	color: white;
	padding: 15px 25px;
	border: none;
	border-radius: 40px;
	cursor: pointer;
	transition: background-color 0.3s ease-in-out;
}

.expense-form form button:hover {
	background-color: #45a049;
}

.success-message {
	text-align: center;
	color: #4caf50;
	font-weight: bold;
	margin-top: 20px;
	opacity: 0;
	transition: opacity 0.5s ease-in-out;
}

.form-submitted .expense-form {
	display: none;
}

.form-submitted .success-message {
	opacity: 1;
}
.expFormbox {
	display: flex;
}
/* Head Overlay */
.head-board .left-head .head-board-heading {
	font-size: 1.4rem;
	margin-bottom: 30px;
}
.remaining-exp {
	font-size: 1.4rem;
	font-weight: 600;
	color: var(--darkWhite);
	/* transition: color var(--timeDLmode) var(--easeDLmode); */
	transition: color 4d ease;
}
.left-head {
	color: var(--darkWhite);
	transition: color 4d ease;
	/* transition: color var(--timeDLmode) var(--easeDLmode); */
}
.right-head {
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
}
.graph {
	margin-bottom: 30px;
}
.btns {
	gap: 15px;
}
.add-btn {
	cursor: pointer;
	border-radius: 50px;
	box-shadow: none;
	text-decoration: none;
	border: none;
	padding: 6px 16px;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: padding 0.4s ease;
}
.add-btn:hover {
	padding: 8px 20px;
}
.add-btn:hover i {
	font-size: 25px;
}
.add-expenseBtn {
	color: var(--darkGray);
	background-color: var(--darkWhite);
	border: 1px solid var(--darkGray);
}
.add-incomeBtn {
	color: var(--darkWhite);
	background-color: var(--darkGray);
	border: 1px solid var(--darkWhite);
}
.add-btn i {
	font-size: 22px;
	margin-right: 15px;
	transition: all ease 0.3s;
}
.add-btn span {
	font-size: 1rem;
	font-weight: 600;
	font-style: normal;
	text-transform: capitalize;
	font-family: gilroy;
}
/* ----- Center Heading Board ----- */

.sun {
	animation: rot 5s linear infinite;
}
@keyframes rot {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
	0% {
		transform: rotate(-0deg);
	}
}
.moon {
	animation: rott 2s linear infinite;
}
@keyframes rott {
	0% {
		transform: rotate(0deg);
	}
	50% {
		transform: rotate(36deg);
	}
	100% {
		transform: rotate(0deg);
	}
}

/* ----------------- Right Container -----------  */
/* ----------------- Right Container -----------  */

.right-container {
	width: 25%;
	max-height: 100%;
	transition: all ease 0.5s;
	/* background-color: rgb(132, 140, 60); */
	z-index: 9;
}
.right-desktop {
	padding: 1rem;
}
.right-top {
	width: 100%;
	height: fit-content;
	/* background-color: aqua; */
	display: flex;
	margin: auto;
	align-items: center;
	justify-content: end;
}
.setting-btn:hover .setting-btn i {
	transform: rotate(10deg);
}
.right-icons {
	display: flex;
	flex-wrap: wrap-reverse;
	align-items: center;
	justify-content: center;
	gap: 15px;
	padding: 0 1.5rem;
	/* background-color: red; */
}
.right-icons i {
	cursor: pointer;
	font-size: 28px;
}
.close-menu {
	/* height: fit-content; */
	/* width: fit-content; */
	width: 45px;
	height: 45px;
	/* background-color: gold; */
	overflow: hidden;
	position: relative;
	/* margin-right: 10px; */
}
.close-menu.open .close-btn {
	transform: translate(-170%, -50%);
}
.close-menu.open .open-btn {
	transform: translate(-50%, -50%);
}
.close-btn,
.open-btn {
	top: 50%;
	left: 50%;
	transition: transform ease 0.5s;
}
.close-btn {
	transform: translate(-50%, -50%);
}
.open-btn {
	transform: translate(70%, -50%);
}
.obb {
	position: absolute;
}
.menuBtn {
	padding: 6px;
	background-color: greenyellow;
	border: 0.8px solid black;
	border-radius: 10px;
	transition: all ease 0.5s;
}
.profile-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	/* background-color: rgb(198, 76, 209); */
}
.profile-pic {
	/* background-color: rgb(213, 148, 62); */
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 20px 15px;
	gap: 10px;
}
.dp {
	max-height: 60px;
	max-width: 60px;
	min-height: 60px;
	min-width: 60px;
	background-color: rgb(255, 0, 191);
	border-radius: 50%;
}
.profile-name {
	font-weight: 600;
	text-align: center;
	text-transform: capitalize;
}

.total-expense {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	/* flex-direction: row; */
	/* background-color: red; */
	align-items: center;
	justify-content: space-around;
	padding: 20px 0;
}
.total-expense li {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 10px;
	cursor: pointer;
	margin: 10px;
}
.total-expense li i {
	padding: 5px;
	border-radius: 12px;
	text-align: center;
	/* height: 50px; */
	/* width: 50px; */
	background-color: #c1c1c1;
	box-shadow: 20px 20px 60px #00000044, inset -20px -20px 60px #ffffff54;
}
.total-expense li span {
	font-size: 15px;
	font-weight: 500;
}

/* ------------- expense-visible -------- */
.expenseShow-box {
	height: 200px;
	width: 400px;
	background-color: #fff;
	padding: 2vw;
	overflow: hidden;
	overflow-x: hidden;
	overflow-y: auto;
}
.expense-visible {
	background-color: red;
	display: grid;
	grid-template-columns: repeat(auto-fil, minmax(150px, 1fr));
}

.expense-visible li {
	background-color: green;
	padding: 40px 0;
	display: flex;
}

/* ----- Financial Record -------- */
.financial-record{
	width: 100%;
	height: 160px;
	/* background-color: blueviolet; */
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.financial-record{
	margin-top: 20px;

}
.fin-box {
	width: 30%;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	padding: 22px 25px;
	border-radius: 22px;
	box-shadow: 12px 12px 16px 0 rgba(0, 0, 0, 0.25),
		-8px -8px 12px 0 rgba(255, 255, 255, 0.3);
	backdrop-filter: blur(10px);
}
.fin-box:nth-child(1) {
	/* background: #9fedba; */
	background: #ace6be;
}
.fin-box:nth-child(2) {
	/* background: #FFEFE7; */
	background: #f4c19b;
}
.fin-box:nth-child(3) {
	/* background: #c1d1e8; */
	background: #d19ddf;
}
.fin-title,
.fin-value {
	/* background-color: yellow; */
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.fin-box i {
	font-size: 1.3rem;
	font-weight: 900;
}
.fin-title span {
	font-size: 1rem;
	font-family: aeonik trial;
}
.fin-value span:nth-child(1) {
	/* background-color: red; */
	font-size: 1.7rem;
	font-weight: 800;
}
.fin-value span:nth-child(2) {
	display: flex;
	align-items: center;
	justify-content: center;
	/* background-color: red; */
}
.fin-value span:nth-child(2) i {
	font-size: 1.2rem;
}
.fin-value span:nth-child(2) h4 {
	font-size: 1rem;
}
/* ----- Financial Record -------- */

@media only screen and (max-width: 600px) {
	body{
		overflow: hidden;
	}
	#main {
		height: 100vh;
		width: 100vw;
		padding: 1vh 1rem 12vh 1rem;
		display: flex;
		overflow: hidden;
		flex-direction: column-reverse;
		justify-content: space-between;
	}

	.right-desktop {
		padding: 0rem;
	}
	.setting-btn {
		display: none;
	}
	.left-container {
		width: 100%;
		/* height: 20%; */
		height: fit-content;
	}
	.left-desktop {
		padding: 0;
	}
	.logo {
		display: none;
	}
	.navigation {
		display: flex;
		padding: 0;
	}
	.nav-ul {
		width: 100%;
		padding: 0;
		margin: 0;
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-between;
	}
	nav ul li {
		padding: 5px;
		height: fit-content;
		width: fit-content;
	}
	nav ul li a {
		margin: 0;
	}
	nav ul li a span {
		display: none;
		text-align: center;
	}
	.right-container {
		width: 100%;
		/* height: 10%; */
		height: fit-content;
		transition: all ease 0.5s;
	}
	.total-expense {
		display: flex;
	}
	.close-menu.open .close-btn {
		transform: translate(-50%, -50%);
	}
	.close-menu.open .open-btn {
		transform: translate(-170%, -50%);
	}
	.close-btn {
		transform: translate(70%, -50%);
	}
	.open-btn {
		transform: translate(-50%, -50%);
	}
	.menuBtn {
		padding: 6px;
		background-color: greenyellow;
		border: 0.8px solid black;
		border-radius: 10px;
		transition: all ease 0.5s;
	}
	.profile-container {
		position: relative;
		display: none;
		overflow: hidden;
		flex-direction: column;
		align-items: center;
		justify-content: start;
		height: 500px;
		width: 100%;
		gap: 10px;
		background-color: rgb(0, 119, 255);
		transition: height ease-in-out 1s;
	}
	.profile-pic {
		background-color: rgb(213, 148, 62);
		flex-direction: column;
		align-items: center;
		justify-content: center;
		transition: height ease-in-out 1s;
	}
	/* SEARCH CONTAINER RESPONSIVE */
	.search-container {
		position: relative;
		height: 10%;
		width: 100%;
		padding: 0px;
	}
	.search-box {
		top: 35%;
		left: 50%;
		/* transform: translateY(-50%); */
		transform: translate(-50%, -50%);
		max-width: 100%;
		height: 200px;
		background-color: #5955e7;
	}
	.input-box:hover {
		height: 50px;
	}
	.input-box {
		max-width: 100%;
		height: 46px;
		margin: 0;
	}
	.input-box i {
		left: 12px;
		font-size: 18px;
	}
	.input-box input {
		padding: 0 112px 0 50px;
	}
	.input-box .button {
		right: 12px;
		font-size: 12px;
		padding: 4px 12px;
	}
	/* ---------- Center Responsive ------- */
	.center-container {
		width: 100%;
		height: 80%;
		border-radius: 10px;
		padding: 15px;
	}
	.head-board {
		margin-top: 10px;
		padding: 15px;
		border-radius: 12px;
		min-height: 100px;
		flex-direction: column;
	}

	.left-head {
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 0 10px;
	}
	.remaining-exp {
		font-size: 1rem;
		transition: color 4d ease;
	}
	.head-board .left-head .head-board-heading {
		font-size: 1rem;
		margin-bottom: 0;
	}
	.graph {
		display: none;
	}
	.right-head {
		width: 100%;
		height: 100%;
		margin: 0;
		padding: 0;
	}
	.btns {
		gap: 15px;
	}
	.add-btn {
		padding: 3px 10px;
	}
	.add-btn span {
		font-size: 0.8rem;
	}
	.add-incomeBtn {
		background-color: var(--darkGray);
		border: 1px solid var(--darkWhite);
	}
}
/* h - 608 , w- 1366 */
/* h - 825 , w- 1440 */
